html, body {
	height: 100%;
}

.admin-header, .admin-nav {	
	color: white;
	background-color: #262b38;
}

.admin-header {
	height: 50px;
	
}

.admin-nav {	
	width: 15%;
	height: 100%;	
	float: left;
}

.admin-nav a{
	color: white;
	text-decoration: none;
}

.admin-nav ul {
	margin-top: 10%;
    list-style: none;
    padding: 0 20px;
}

.admin-nav ul li {
	padding: 10px 10%;
	width: 100%;
}

.admin-nav ul li:hover {
	background-color: #232323;
}

#admin-container {
	padding: 30px 0px;	
}

